<% content_for :head do %>
	<title>Contact - <%= settings.title %></title>
<% end %>

<nav class="breadcrumbs" aria-label="Breadcrumbs">
	<ol itemscope itemtype="http://schema.org/BreadcrumbList">
		<li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="https://www.gov.uk/service-toolkit#components" itemprop="item">
				<span itemprop="name">Components</span>
			</a>
		</li>
		<li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="/" itemprop="item">
				<span itemprop="name">GOV.UK PaaS</span>
			</a>
		</li>
		<li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="#main" itemprop="item">
				<span itemprop="name">Support</span>
			</a>
		</li>
		<li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="#main" itemprop="item">
				<span itemprop="name">Contact us</span>
			</a>
		</li>
	</ol>
</nav>

<div class="container">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Contact us</h1>
			<% if @errors && @errors.size > 0 %>
				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
					<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">There were problems submitting your request</h2>
					<ul class="error-summary-list">
						<% @errors.each do |field, err| %>
							<li class="err"><a href="#" class="focus-field" data-field="<%= field.to_s %>"><%= err %></a></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			<form action="/contact-us" method="post">
				<%= erb :"partials/_input", :locals => {name: :person_name, label: "Name", hint: "Your Full Name", value: params[:person_name], error: errors_for(@ticket, :person_name)} %>
				<%= erb :"partials/_input", :locals => {name: :person_email, label: "Email Address", hint: "Your email address", value: params[:person_email], error: errors_for(@ticket, :person_email)} %>
				<%= erb :"partials/_input", :locals => {name: :department_name, label: "Department Name", hint: "The name of the organisation, department or agency you work for", value: params[:department_name], error: nil} %>
				<%= erb :"partials/_input", :locals => {name: :service_name, label: "Service Name", hint: "The name of the service or team you work on", value: params[:service_name], error: nil} %>
				<%= erb :"partials/_textarea", :locals => {name: :message, label: "Message", hint: "Your support enquiry.", value: params[:message], error: nil} %>
				<div class="form-group">
					<button class="button" type="submit">Submit</button>
				</div>
			</form>
		</div>
		<div class="column-one-third"></div>
	</div>
</div>
